{% extends 'nickelodeon/base.html' %}

{% block title %} Cartoon info {% endblock title %}

{% block content %}
    <form action="{% url 'show_info' %}" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend><h3>Add information about {{ title }}</h3></legend>
            <div>
                <label for="cartoon_year">Year:</label>
                <input id="cartoon_year" name="cartoon_year" placeholder="Year">
            </div>
            <br>
            <div>
                <label for="cartoon_author">Author:</label>
                <input id="cartoon_author" name="cartoon_author" placeholder="Author">
            </div>
            <br>
            <div>
                <label for="cartoon_rating">Rating:</label>
                <input id="cartoon_rating" name="cartoon_rating" placeholder="Rating">
            </div>
            <br>
            <button type="submit">Add!</button>
        </fieldset>
    </form>
    {% include 'nickelodeon/return_home_page.html' %}
{% endblock content %}
