{% extends 'nickelodeon/base.html' %}

{% block title %} Cartoon {% endblock %}

{% block content %}
    <h3>Hello! You need to log in</h3>
    <form action="/login/" method="POST">
        <div>
            <label for="username">Please, enter name:</label>
            <input id="username" name="username" placeholder="Name"><br>
        </div>
        <br>
        <div>
            <label for="surname">Please, enter surname:</label>
            <input id="surname" name="surname" placeholder="Surname"><br>
        </div>
        <br>
        <button type="submit">Login</button>
    </form>
{% endblock %}
