{% extends 'nickelodeon/base.html' %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href=" {% static 'nickelodeon/css/all_info_from_db.css' %}">
{% endblock %}

{% block title %} Get Info {% endblock title %}

{% block content %}
    <form action="{% url 'all_info_from_db' %}" method="GET">
        {% csrf_token %}
        <fieldset>
            <legend><h3>Cartoon Information: </h3></legend>
            {{ cartoon }}
        </fieldset>
    </form>
    {% include 'nickelodeon/return_home_page.html' %}
{% endblock content %}
