{% extends 'nickelodeon/base.html' %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href=" {% static 'nickelodeon/css/index.css' %}">
{% endblock %}

{% block title %} Cartoon {% endblock title %}

{% block content %}
    <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h3>Hello! You need to log in</h3></legend>
        <div>
            <label for="username">Please, enter name:</label>
            <input id="username" name="username" placeholder="Name"><br>
        </div>
        <br>
        <div>
            <label for="surname">Please, enter surname:</label>
            <input id="surname" name="surname" placeholder="Surname"><br>
        </div>
        <br>
        <div><label for="email">Please, enter email:</label>
            <input type="email" name="email" placeholder="Email"
                   pattern=".+@ithillel.ua" size="30" required>
        </div>
        <br>

        <button type="submit" class="btn btn-success">Login</button>
        <br>
    </fieldset>

{% endblock content %}
